body {
  margin: 0;
  padding: 0 20px;
  box-sizing: border-box;
  background-color: #e6f7f8;
}
.theme-toggle {
  position: absolute;
  top: 20px;
  right: 20px;
  border-radius: 50%;
}
.theme-btn {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #d63384;
  transition: color 0.3s ease;
}
.theme-btn:hover {
  color: #9c4271;

  border-radius: 50%;
}

.container {
  text-align: center;
  min-height: 100vh;
  padding: 20px;
}

h1 {
  font-size: 3rem;
  color: #d63384;
  font-weight: bold;
}

.album {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  margin-top: 20px;
  text-align: left;
}

.album-card {
  width: 300px;
  padding: 15px;
  border-radius: 15px;
  background-color: #fffaf0;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.album-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.album-card p {
  margin: 8px 0;
  font-weight: 600;
  /* color: #6c757d; */
}

.album-card h3 {
  color: #9c4271;
  margin-top: 15px;
}

.album-card .icon {
  margin-right: 8px;
  color: #f06595;
}

.light {
  background-color: #fff5f7;
  color: #333;
  background-color: #e6f7f8;
}

.light .album-card {
  background-color: #fffaf0;
  background-color: #fdfdfd;
}

.light .icon {
  color: #d63384;
}

.light h1 {
  color: #d63384;
}

/* DARK THEME */
.dark {
  background-color: #1a1a1a;
  color: #f0f0f0;
}

.dark .album-card {
  background-color: #2e2e2e;
}

.dark .icon {
  color: #00bcd4;
}


.dark h1 {
  color: #00bcd4;
}
.dark h3 {
  color: #66d9ef;
}


@media (max-width: 1024px) {
  .album-card {
    width: 45%;
  }
}

@media (max-width: 768px) {
  .album-card {
    width: 90%;
  }

  h1 {
    font-size: 2rem;
  }
}
