body {
  margin: 0;
  background-color: #fff5f7;
  padding: 0px 20px;
  box-sizing: border-box;
}

.container {
  text-align: center;
}

h1 {
  font-size: 3rem;
  color: #d63384;
  font-weight: bold;
}

.album {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  text-align: left;
}

.album-card {
  background-color: #fffaf0;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  width: 30%;
  box-sizing: border-box;
  transition: transform 0.3s ease;
}

.album-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.album-card p {
  margin: 8px 0;
  font-weight: 600;
  /* color: #333; */
  color: #6c757d;
}

.album-card h3 {
  color: #9c4271;
  margin-top: 15px;
}

.album-card .icon {
  margin-right: 8px;
  color: #f06595;
}


@media (max-width: 1024px) {
  .album-card {
    width: 45%;
  }
}

@media (max-width: 768px) {
  .album-card {
    width: 90%;
  }

  h1 {
    font-size: 2rem;
  }
}
